---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout primaryTitle="About">
  <section class="archive">
    <div class="section-content section-tag">
      <div class="archive-tag">
        <h2 class="tag-header">About Me</h2>
        <div class="tag-post-list">
          <ul>
            <h3 align="center" style="font-family: EB Garamond">⧫ EDUCATION ⧫</h3>
            <p style="font-family: EB Garamond"><b>Chongqing University;</b> Chongqing, China<br>
            <i>Aug 2020 - July 2024</i><br>
            <i>Bachelor of Artificial Intelligence</i><br>
            ❏	Weighted Average Mark:86.72</li><br>
            ❏	Join HongShen Honors School of Chongqing University and Mingyue Innovation Class in 2020<br>
            ❏	Join UCI Summer Program and Cambridge Academic Program<br>
            ❏	Join NationalElite Institute of Engineering, Chongqing University in 2022<br>
            ❏	IELTS: 6.5(Listening 8, Reading 7, Writing 6, Speaking 5.5, Test Date: Feburary 12, 2022<br><p>
            <h3 align="center" style="font-family: EB Garamond">⧫ RESEARCH AND WORK EXPERIENCE ⧫</h3>
            <p style="font-family: EB Garamond"><b>HUAWEI Cloud AI Competition;</b> Chongqing, China<br>
            <i>Team Leader / Oct 2021 - Dec 2021</i><br>
            ❏	Use LabelMe to label the given dataset by HUAWEI mixed with BDD100K from Berkeley AI Lab<br>
            ❏	Reproduce the Segmenting Objects by Locations (SOLO) by framework Mmdetection and check the performance<br>
            ❏	The effect of training is the top 20 among all the competitors<br><p>
            <p style="font-family: EB Garamond"><a href="https://www.nbtechx.com/"><b>Ningbo Techx Institute;</b></a> Ningbo, Zhejiang Province, China<br>
            <i>Team Leader / Oct 2021 - Dec 2021</i><br>
            ❏	Helped colleagues in need print their model<br>
            ❏	Managed the equipment in both 3D Printing Laboratory and Electronic Assembly Laboratory<br>
            ❏	Helped deal with an emergency by fixing a broken 3D Printer due to the incorrect use<br>
            ❏	Helped a stuff write a program to control the motors by using Pulse Width Modulation (PWM)<br><p>
            <h3 align="center" style="font-family: EB Garamond">⧫ PROJECT EXPERIENCE ⧫</h3>
            <h3 align="center" style="font-family: EB Garamond">⧫ COMMUNITY SERVICE ⧫</h3>
            <h3 align="center" style="font-family: EB Garamond">⧫ AWARDS ⧫</h3>
            <h3 align="center" style="font-family: EB Garamond">⧫ PUBLICATIONS⧫</h3>
            <h3 align="center" style="font-family: EB Garamond">⧫ ADDITIONAL INFORMATION⧫</h3>
            <p style="font-family: EB Garamond"><b>Digital Fluency:</b> Proficient in Python, CPP, MATLAB; Introductory PyTorch, Unreal Engine, Unity, ROS<br>
            <b>Language Fluency:</b> Fluent in spoken and written English and Chinese; Introductory spoken and written German<br>
            <b>Hobbies:</b> Badminton; Taekwondo (Grade Four); Violin (Grade Six)<p>
          </ul>
        </div>
      </div>

      <div class="archive-tag">
        <h2 class="tag-header">Social Media</h2>
        <div class="tag-post-list">
          <ul>
            <li>
              <a href="https://space.bilibili.com/243459735?spm_id_from=333.1007.0.0" target="_blank"> Bilibili</a>
            </li>
            <li>
              <a href="https://github.com/JerryYan24" target="_blank">Github</a>
            </li>
          </ul>
        </div>
      </div>

    </div>
  </section>
</BaseLayout>
